@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Nova+Square&family=Open+Sans:wght@500&family=Quintessential&family=Source+Serif+4:opsz,wght@8..60,300&family=Vollkorn:ital@1&display=swap');

body {
  margin: 1rem;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Nova Square', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quintessential', cursive;
  font-family: 'Source Serif 4', serif;
  font-family: 'Vollkorn', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}